<div class="col">
    <h3>Contact me!</h3>
    <table>
        <tbody class="row">
            <tr>
                <img [src]="lkpath" alt="LinkedIn logo">
                <a href="">LinkedIn</a>
            </tr>
            <tr>
                <img [src]="ghpath" height="128" alt="GitHub logo">
                <a href="">GitHub</a>
            </tr>
            <tr>
                <img [src]="gmpath" height="128" alt="Gmail logo">
                <a href="mailto:salomongonzalo8@gmail.com">Mail</a>
            </tr>
        </tbody>
    </table>
</div>