table {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

tr:nth-child(even) {
    background-color: var(--background-button-color);
}

tr:nth-child(odd) {
    background-color: var(--background-hovered-button-color);
}

tr.left{
    align-self: flex-start;
}

tr.right{
    align-self: flex-end;
}

img{
    padding: 10px;
}