<div>
    <!-- had to use table for CSS nth-row functionality -->
    <!-- tuve que usar table para usar nth-row en CSS -->
    <table>
        <tbody class="col">
            <tr class="row left">
                <div>
                    <img src="portfolio-1.png" height="200fr" alt="">
                </div>
                <div>
                    <h3>This very page! | Esta misma página!</h3>
                    <hr/>
                    <p>Made with Angular 18, using some RxJs (BehaviorSubject) for dark/light theme, and a tiny bit of localStorage to persist the theme.</p>
                    <hr/>
                    <p>Hecha con Angular 18, usando algo de RxJs (BehaviorSubject) para el tema claro/oscuro, y un poco de localStorage para persistir el tema.</p>
                </div>
            </tr>
        </tbody>
    </table>
</div>