button {
    margin: 5px;
    background-color: var(--background-button-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 10px;
}

button:hover {
    background-color: var(--background-hovered-button-color);
    border: solid 2px;
    text-decoration: none;
}

a {
    color: var(--text-color);
    border-radius: 5px;
}

a:hover {
    background-color: var(--background-hovered-button-color);
    border: solid 2px;
    text-decoration: none;
}

img {
    margin: 10px;
    border-radius: 10px;
    border: solid 2px;
}