<main class="main row">
  <div>
    <h1>Gonzalo Salomon</h1>
    <p>Junior BI Consultant | Consultor BI Junior</p>
  </div>
  <div class="col">
    <div><button (click)="toggleDarkTheme()">☼/☽</button></div>
    <img src="https://lh3.googleusercontent.com/d/1FWtuLxqskiooL8a38i2Uiesg0nMf4nqq" height=300
      alt="A picture of Gonzalo Salomon">
  </div>
</main>
<header class="row">
  <div>
    <a href="">about me | sobre mí</a>
  </div>
  <div>
    <a href="portfolio">my projects | mis proyectos</a>
  </div>
  <div>
    <a href="contact">contact me | contactame</a>
  </div>
</header>
<hr />
<router-outlet />