body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color)
}

app-root {
    width: 100%;
}

h1,
h3,
p,
img {
    color: var(--text-color)
}

a:link {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    --text-color: #222;
    --background-color: #ddd;
    text-align: center;
    -webkit-transition: background-color text-color 1s linear;
    transition: background-color 1s linear, text-color 1s linear;
    --background-button-color: #ccc;
    --background-hovered-button-color: #bbb;
}

body.dark-theme {
    --text-color: #ddd;
    --background-color: #222;
    --background-button-color: #333;
    --background-hovered-button-color: #444;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header.row {
    justify-content: space-evenly;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}